<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# product: http://ogp.me/ns/product#">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
{% if robots %}
<meta name="robots" content="{{ robots }}" />
{% endif %}
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
<meta property="og:title" content="{{ title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ og_url }}" />
{% if og_image %}
<meta property="og:image" content="{{ og_image }}" />
{% else %}
<meta property="og:image" content="{{ logo }}" />
{% endif %}
<meta property="og:site_name" content="{{ name }}" />

<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js"></script> 
<link  href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/> 
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js"></script>
<link  href="catalog/view/theme/fanes/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"  />  
<script src="catalog/view/theme/fanes/javascript/common.min.js"></script>
<link href="catalog/view/theme/fanes/font-awesome/fonts/fontawesome-webfont.woff2" />  
<link href="catalog/view/theme/fanes/stylesheet/stylesheet.min.css?v={{ filemtime('catalog/view/theme/fanes/stylesheet/stylesheet.min.css') }}" rel="stylesheet"/> 
{# Временно загрузка с CDN #}
<!-- Стили Swiper 11 -->
{# <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" /> #}
<link rel="stylesheet" href="catalog/view/theme/fanes/stylesheet/swiper-bundle.css" />
{# FancyBox #}
{# <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css" /> #}
<link rel="stylesheet" href="catalog/view/theme/fanes/stylesheet/fancybox.css" />

<!-- Скрипт Swiper 11 -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
{# FancyBox #}
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>

{# старый swiper #}
{# <script src="catalog/view/javascript/jquery/swiper/js/swiper.min.js"></script>  #}
{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}"></script>
{% endfor %}
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}
</head>
<body>
    <div class="modal-fon fade"></div> {# фон для мобильного меню #}   
    <div class="wrapper">
     <header>
        <div class="header-block justify-content-end">
            {# <div class="logo">
           <div id="logo">
          {% if logo %}
            {% if home == og_url %}
              <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" />
            {% else %}
              <a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>
            {% endif %}
          {% else %}
            <h1><a href="{{ home }}">{{ name }}</a></h1>
          {% endif %}
                </div>
            </div>
            <div class="contact-block">
                 <div class="contact">
                    <span class="email"><i class="fa fa-envelope-o" aria-hidden="true"></i>{{ email }}</span> 
                     {# <span class="tel"><i class="fa fa-phone" aria-hidden="true"></i>{{telephone}} <a href="viber://chat?number=%2B380675783876" target="_blank" style="color: #7c529d;">Viber</a></span> #}
                  <!--   <span class="tel2"><i class="fa fa-phone" aria-hidden="true"></i>+38 (096) </span> -->
          {#           <span class="open">
                         {% if open %}
                  <i class="fa fa-clock-o" aria-hidden="true"></i>{{ open }}
                  {% endif %}
                     </span>
                 </div>
            </div> #}
    <ul class="right-menu">
        {# <li>{{ cart }}</li> #}
        <li id="right-menu-language-select">{{language}}</li>
        </ul>
      </div>
 </header>
 {{ menu }}