{{ header }}
  <div class="content-block">
<div id="common-home" class="content">
  <h1 style ="display : none">{{ seo_h1 }}</h1>
  <h2 style ="display : none">{{ seo_h2 }}</h2>
  {{column_left }}
    <div id="content" class="content-center">{{ content_top }}</div>
    {{ column_right }}
</div>
{{ content_bottom }}
</div>
{{ footer }}