<div class="form-group" id="simple_{{id}}">
  <div class="col-sm-12">
    {% if tag != '' %}
      <{{ tag }}>{{ label }}</{{ tag }}>
    {% else %}
      {{ label }}
    {% endif %}  
  </div>
</div>