{{ header }}
<div class="container-fluid">
     <!-- Breadcrumbs :: Start-->
        <div class="breadcrumbs">
          <div class="container-fluid___">
            <ul class="breadcrumb">
      {% for i,breadcrumb in breadcrumbs %}
        {% if (i + 1 < (breadcrumbs)|length) %} 
        <li><a class="breadcrumbs__link" href="{{ breadcrumb['href'] }}"><span>{{ breadcrumb['text'] }}</span></a></li>
        {% else %} 
        <li>{{ breadcrumb['text'] }}</li>
        {% endif %}
      {% endfor %}
            </ul>
          </div>
        </div>
        <!-- Breadcrumbs :: End-->
  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <div class="simple_heading_title">{{ heading_title }}</div>
      
      