<div class="well" id="form-list-filter">      
  <div class="form-group">
    <label class="control-label" for="input-name">{{ entry_filter_name }}</label>
    <div class="input-group">
      <input type="text" name="filter_name" value="{{ filter_name }}" placeholder="{{ entry_filter_name }}" id="input-name" class="form-control" />
      {% if filter_name %}
      <div class="input-group-btn">                    
        <button type="button" class="btn btn-danger" onclick="$('[name=\'filter_name\']').val(''); filterList();"><i class="fa fa-times"></i></button>                    
      </div>
      {% else %}
      <div class="input-group-addon">                    
        <i class="fa fa-bars"></i>
      </div>
      {% endif %}
    </div>               
  </div>
  <div class="form-group">
    <label class="control-label" for="input-forum-group">{{ entry_category }}</label>
    <div class="input-group">
      <input type="text" name="filter_category" value="" placeholder="{{ filter_category ? filter_category : entry_category }}" id="input-forum-group" class="form-control" />
      <input type="hidden" name="filter_category_id" value="{{ filter_category_id }}" />                 
      {% if filter_category_id %}
      <div class="input-group-btn">                    
        <button type="button" class="btn btn-danger" onclick="$('[name=\'filter_category_id\'],[name=\'filter_category\']').val(''); filterList();"><i class="fa fa-times"></i></button>                
      </div>
      {% else %}
      <div class="input-group-addon">                    
        <i class="fa fa-bars"></i>
      </div>
      {% endif %}
    </div>                    
  </div> 

  <div class="form-group">
    <label class="control-label" for="input-type">{{ entry_type }}</label>
    <div class="input-group">    
      <select name="filter_type" id="input-type" class="form-control">
        <option value="*"></option>
        {% if filter_type == 'checkbox' %}
        <option value="checkbox" selected="selected">{{ text_checkbox }}</option>
        {% else %}
        <option value="checkbox">{{ text_checkbox }}</option>
        {% endif %}
        {% if filter_type == 'radio' %}
        <option value="radio" selected="selected">{{ text_radio }}</option>
        {% else %}
        <option value="radio">{{ text_radio }}</option>
        {% endif %}
        {% if filter_type == 'slide' %}
        <option value="slide" selected="selected">{{ text_slide }}</option>
        {% else %}
        <option value="slide">{{ text_slide }}</option>
        {% endif %}
        {% if filter_type == 'slide_dual' %}
        <option value="slide_dual" selected="selected">{{ text_slide_dual }}</option>
        {% else %}
        <option value="slide_dual">{{ text_slide_dual }}</option>
        {% endif %}                  
      </select>
      {% if filter_type %}
      <div class="input-group-btn"> 
        <button type="button" class="btn btn-danger" onclick="$('[name=\'filter_type\']').val('*'); filterList();"><i class="fa fa-times"></i></button>
      </div>
      {% else %}
      <div class="input-group-addon">
        <i class="fa fa-asterisk"></i>
      </div> 
      {% endif %}
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="input-source">{{ entry_source }}</label>
    <div class="input-group">    
      <select name="filter_source" id="input-type" class="form-control">
        <option value="*"></option>
        {% if filter_source == 'default' %}
        <option value="default" selected="selected">{{ text_source_default }}</option>
        {% else %}
        <option value="default">{{ text_source_default }}</option>
        {% endif %}
        {% if filter_source == 'attribute' %}
        <option value="attribute" selected="selected">{{ text_source_attribute }}</option>
        {% else %}
        <option value="attribute">{{ text_source_attribute }}</option>
        {% endif %}
        {% if filter_source == 'filter' %}
        <option value="filter" selected="selected">{{ text_source_filter }}</option>
        {% else %}
        <option value="filter">{{ text_source_filter }}</option>
        {% endif %}
        {% if filter_source == 'option' %}
        <option value="option" selected="selected">{{ text_source_option }}</option>
        {% else %}
        <option value="option">{{ text_source_option }}</option>
        {% endif %}                  
      </select>
      {% if filter_source %}
      <div class="input-group-btn"> 
        <button type="button" class="btn btn-danger" onclick="$('[name=\'filter_source\']').val('*'); filterList();"><i class="fa fa-times"></i></button>
      </div>
      {% else %}
      <div class="input-group-addon">
        <i class="fa fa-asterisk"></i>
      </div> 
      {% endif %}
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="input-status">{{ entry_status }}</label>
    <div class="input-group">                
      <select name="filter_status" id="input-status" class="form-control">
        <option value="*"></option>
        {% if filter_status %}
        <option value="1" selected="selected">{{ text_enabled }}</option>
        {% else %}
        <option value="1">{{ text_enabled }}</option>
        {% endif %}
        {% if filter_status is not null and filter_status == 0 %}
        <option value="0" selected="selected">{{ text_disabled }}</option>
        {% else %}
        <option value="0">{{ text_disabled }}</option>
        {% endif %}
      </select>
      {% if filter_status is not null %}
      <div class="input-group-btn"> 
        <button type="button" class="btn btn-danger" onclick="$('[name=\'filter_status\']').val('*'); filterList();"><i class="fa fa-times"></i></button>
      </div>
      {% else %}
      <div class="input-group-addon">
        <i class="fa fa-asterisk"></i>
      </div> 
      {% endif %}
    </div>
  </div>
  <div class="form-group text-right">
    <button type="button" onclick="filterList();" class="btn btn-primary"><i class="fa fa-search"></i> {{ button_filter }}</button>
  </div>
</div>
<script>
var

ocfDOMReady = function(fn) {
  if (document.readyState != 'loading') {
    fn();
  } else {
    document.addEventListener('DOMContentLoaded', fn);
  }
},

filterList = function(button) {
  button && $(button).button('loading');

  var url = ocfilter.link('extension/module/ocfilter/filter'), $filter;

  $('#form-list-filter').find('input, select').filter('[name^="filter_"]').each(function() {
    $filter = $(this);

    if ($filter.val()) {
      if (($filter.is('input') && $filter.val()) || ($filter.is('select') && $filter.val() != '*')) {
        url += '&' + $filter.attr('name') + '=' + encodeURIComponent($filter.val());
      }
    }
  });

  window.location = url;
};

ocfDOMReady(function() {
$(function() {
  $('#form-list-filter').find('input').on('keydown', function(e) {
    (e.which == 13) && filterList();
  });

  $('input[name="filter_name"]').autocomplete({
    'placement': 'right',  
    'source': function(request, response) {    
      var $this = $(this);
      
      $this.parent().find('.input-group-addon').find('i').attr('class', 'fa fa-refresh fa-spin');
    
      $.ajax({
        url: ocfilter.link('extension/module/ocfilter/filter/autocompleteFilters', 'filter_name=' + request),
        dataType: 'json',
        success: function(json) {        
          response($.map(json, function(item) {
            return {
              label: item.name,
              value: item.filter_id,
              category: item.category
            }
          }));
          
          $this.parent().find('.input-group-addon').find('i').attr('class', 'fa fa-bars');
        }
      });
    },
    'select': function(item) {
      $('input[name="filter_name"]').val(item.label);
    }
  });

  $('input[name="filter_category"]').autocomplete({
    'placement': 'right',
    'source': function(request, response) {
      var $this = $(this);
      
      $this.parent().find('.input-group-addon').find('i').attr('class', 'fa fa-refresh fa-spin');
      
      $.ajax({
        url: ocfilter.link('catalog/category/autocomplete', 'filter_name=' + request),
        dataType: 'json',
        success: function(json) {
          json.unshift({
            name: '{{ text_without_category }}',
            category_id: -1
          });
          
          json.unshift({
            name: '{{ text_all }}',
            category_id: 0
          });          

          response($.map(json, function(item) {
            return {
              label: item.name,
              value: item.category_id
            }
          }));
          
          $this.parent().find('.input-group-addon').find('i').attr('class', 'fa fa-bars');
        }
      });
    },
    'select': function(item) {
      $('input[name="filter_category"]').val('').attr('placeholder', item.label);
      $('input[name="filter_category_id"]').val(item.value);
    }
  });
});
}); // DOM Ready
</script>