{{ header }}
<script type="application/ld+json">
{
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
       {% for key, breadcrumb in breadcrumbs %}
            {% if key + 1 < breadcrumbs|length %}
                "@type": "ListItem",
        "position": {{ loop.index }},  
          {% if loop.index == 1 %} "name" : "{{text_home_page}}" {% else %} "name": " {{ breadcrumb.text }} " {% endif %} ,
                 "item": "{{ breadcrumb.href }}"
             },{  
          {% else %}
                 "@type": "ListItem",
        "position": {{ loop.index }},  
           "name": " {{ breadcrumb.text }} ",
                 "item": "{{ breadcrumb.href }}"
                }]          
            {% endif %}
     {% endfor %}
}
</script>
<div class="content-block">
<ul class="breadcrumb">
    {% for key, breadcrumb in breadcrumbs %}
      {% if key + 1 < breadcrumbs|length %}
        <li>
              <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
        </li>
      {% else %}
            <li> {{ breadcrumb.text }}</li>
        {% endif %}
     {% endfor %}
  </ul>
<div class="content">
  {{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'product-card product-card-s' %}
    {% elseif column_left or column_right %}
    {% set class = 'product-card product-card-l' %}
    {% else %}
    {% set class = 'product-card' %}
    {% endif %}
    <div id="product-category" class="content-center">
     {{ content_top }}
      <h1 class="heading-title">{{ heading_title }}</h1>

{#      {% if thumb or description %}
      <div class="thumb-description-block"> 
      {% if thumb %}
        <div class="thumbs"><img src="{{ thumb }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-thumbnail" /></div>
      {% endif %}
      {% if description %}
        <div class="description">{{ description }}</div>
      {% endif %}</div>
      {% endif %}
#}
      {% if categories %}
       <h4 class="cat-title">{{ text_refine }}</h4>
      <div class="category-block">
          <ul>
            {% for category in categories %}
            <li><a href="{{ category.href }}">{{ category.name }}</a></li>
            {% endfor %}
          </ul>
      </div>
      {% endif %}
      {% if products %}
      <div class="sort-block">
        <div class="sort">
          <div class="form-group input-group input-group-sm">
            <label class="input-group-addon" for="input-sort">{{ text_sort }}</label>
            <select id="input-sort" class="form-control" onchange="location = this.value;">
              {% for sorts in sorts %}
              {% if sorts.value == '%s-%s'|format(sort, order) %}         
              <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
              {% else %}                         
              <option value="{{ sorts.href }}">{{ sorts.text }}</option>              
              {% endif %}
              {% endfor %}         
            </select>
          </div>
        </div>
        <div class="sort">
          <div class="form-group input-group input-group-sm">
            <label class="input-group-addon" for="input-limit">{{ text_limit }}</label>
            <select id="input-limit" class="form-control" onchange="location = this.value;">           
              {% for limits in limits %}
              {% if limits.value == limit %}             
              <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
              {% else %}
              <option value="{{ limits.href }}">{{ limits.text }}</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      
<div class="product-wrapp">
 {% for product in products %}
  <div class="{{class}}">
     {# <div class="btn-top">
        <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
        <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
     </div> #}
{#    <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>   #}
      
      <div class="image">   
                    <div>
                       <a href="{{product.href}}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a>
                    </div>
                 
                    {% if product.webi_images %}
                      {% for image in product.webi_images %}
                        <div>
                          <a href="{{product.href}}"><img src="{{image.popup}}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a>
                        </div>
                      {% endfor %}
                    {% endif %}
               
      </div>  
      
      <div class="caption">
        <h4 class="product-name"><a href="{{ product.href }}">{{ product.name }}</a></h4>
        <p class="product-description">{{ product.description }}</p>
        {% if product.rating %}
        <div class="rating">
          {% for i in 5 %}
          {% if product.rating < i %}
          <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
          {% else %}
          <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
          {% endif %}
          {% endfor %}
        </div>
        {% endif %}
        {% if product.price %}
         {% if product.stock_status_id == 9 and product.ostatok <= 0 %}
          <p class="price"></p>
         {% else %}
          <p class="price">
            {% if not product.special %}
            {{ product.price }}
            {% else %}
            <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
            {% endif %}
            {% if product.tax %}
            <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
            {% endif %}
          </p>
         {% endif %} 
        {% endif %}
      </div>
          <div class="button-add">
           {% if product.stock_status_id != 9 or product.ostatok > 0 %} {#показываем кнопки купить#}
            <button class="btn btn-primary" type="button" onclick="cart.add('{{ product.product_id }}');">{{ button_cart }}</button>
           {% else %}
             <button class="btn btn-primary disabled" type="button">{{ button_cart }}</button>
           {% endif %}     
          </div>
    
    
  </div>
  {% endfor %}
</div>
      <div class="pagination-block">
        <div class="paginations">{{ pagination }}</div>
        <div class="results-text">{{ results }}</div>
      </div>
      {% endif %}

      {% if thumb or description %}
      <div class="thumb-description-block"> 
      {% if thumb %}
        <div class="thumbs"><img src="{{ thumb }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-thumbnail" /></div>
      {% endif %}
      {% if description %}
        <div class="description">{{ description }}</div>
      {% endif %}</div>
      {% endif %}
      
      {% if not categories and not products %}
      <p>{{ text_empty }}</p>
      <div class="buttons">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
      {% endif %}
      </div>
    {{ column_right }}
</div>
{{ content_bottom }}
</div>
{{ footer }} 
<script>  
  $(document).ready(function(){
        $('.image').not('.slick-initialized').slick({
          fade: true,
          cssEase: 'linear',
          draggable: false,
          pauseOnHover: false,
          adaptiveHeight: false,
          swipe: false,
          responsive: [
                              {
                                breakpoint: 992,
                                settings: {
                                  autoplay: false,
                                  slidesToScroll: 1
                                }
                              }
                            ] 
      });
   
});
</script>