<div class="module-block">
 <div class="blog-category">
  {% for category in categories %}
  {% if category.blog_category_id == blog_category_id %} 
  <a href="{{ category.href }}" class="active">{{ category.name }}</a> 
  {% if category.children %}
  {% for child in category.children %}
  {% if child.blog_category_id == child_id %}
  <a href="{{ child.href }}" class="active">{{ child.name }}</a> 
  {% else %} 
  <a href="{{ child.href }}"> {{ child.name }}</a>
  {% endif %}
  {% endfor %}
  {% endif %}
  {% else %} <a href="{{ category.href }}">{{ category.name }}</a>
  {% endif %}
  {% endfor %}
</div>
</div>
