<div class="module-block">
<div class="info-list">
    {% for information in informations %}
    <a href="{{ information.href }}">{{ information.title }}</a>
    {% endfor %}
    <a href="{{ contact }}">{{ text_contact }}</a>
    <a href="{{ sitemap }}">{{ text_sitemap }}</a>
</div>
</div>
