<a href="{{ blog }}" class="blog dropdown-toggle" data-toggle="dropdown"><i class="fa fa-book" aria-hidden="true"></i><span class="link-text">
    {{ text_blog }}
</span></a>
	<ul id="blogs-dropdown" class="dropdown-menu">
	{% for category in categories %}
        {% if category.children %}
        <li><a href="{{ category.href }}">{{ category.name }}</a></li>
            {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}   
				{% for child in children %}
                <li><a href="{{ child.href }}"> {{ child.name }}</a></li>
				{% endfor %}
			{% endfor %}
		{% else %}
        <li><a href="{{ category.href }}">{{ category.name }}</a></li>
        {% endif %}
	{% endfor %}
	<li><a href="{{ blog }}" class="see-all">{{ text_all }} {{ text_blog }}</a></li>
	</ul>
	